{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}
        </div>
        <br>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    {% else %}
        <p>Vous n'êtes pas connecté.</p>
        <a href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}
{% endblock %}
